<%= form_for(@myapp) do |f| %>
  <% if @myapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myapp.errors.count, "error") %> prohibited this myapp from being saved:</h2>

      <ul>
      <% @myapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
